/*
＜CSSの読み込み＞
  HTMLファイルhead要素内にlinkタグを記述。linkタグにはrel="stylesheet" type="text/css" を指定。さらに href 属性に読み込みたいCSSファイルのパスを相対パスで指定してください。
  例）<link rel="stylesheet" type="text/css" href="style.css">

＜CSSの基本構文＞
・ルールセット...CSSの基本構文を指す
  セレクタ {
    プロパティ:値;
  }
・セレクタ...装飾するHTML要素を指定する
・プロパティ...指定したHTML要素の何を装飾するか指定
・値...指定したHTML要素をどのように装飾するか指定

＜セレクタの種類＞
・要素セレクタ
  要素名 {
・クラスセレクタ
  .クラス名 {
・IDセレクタ
  #id名 {
・属性セレクタ...角括弧は属性セレクタの開始と終了を示す。
  要素[属性="属性名"] {
・子孫セレクタ...親要素と子要素全てに適用。
  親要素 子要素 {
・直接の子セレクタ...親要素と子要素にのみ適用。
  親要素 > 子要素 {
・属性セレクタ...属性値が特定の値と一致する要素を選択する。
  要素[属性="値"] {
・属性値の先頭一致セレクタ...属性値が指定された値で始まる要素を選択。(キャレット（^）は、属性値が指定された値で始まる場合に要素を選択するための一部)
  要素[属性^="値"] {
・属性値の末尾一致セレクタ...属性値が指定された値で終わる要素を選択。(ダラーサイン（$）は、属性値が指定された値で終わる場合に要素を選択するための一部)
  要素[属性$="値"] {
・部分一致セレクタ...属性値が指定された値を含む要素を選択。
  要素[属性*="値"] {
・チェックされた要素セレクタ...ユーザーがチェックした選択肢に適用。Eにはそれぞれのセレクタを用いる。
  E:checked {
  input[type="checkbox"]:checked {
      (スタイルのプロパティ)
    }
・否定セレクタ...特定の要素や要素グループを除外してスタイルを適用するために使用。
  E:not(セレクタ) {
  .container p:not(.special) {
      color: blue;
  }
・E要素とclass属性がclassの要素セレクタ
    E,.class {
・E要素の子要素でclass属性がclassの要素セレクタ
  E>.class {
・E要素の子孫要素でclass属性がclassの要素セレクタ
  E . class

＜スーパーリロード＞
HTMLやCSSを修正したのにブラウザで確認すると変わってない…そんな時はキャッシュが悪さをしている可能性があるため、キャッシュクリアを実行してみましょう。
・ブラウザのショートカット [Ctrl]+[Shift]+[R] を利用する
・ブラウザのショートカット [F12] を押してデベロッパーツールを開く
  ・左上のリロードアイコンを右クリックする
  ・[ハード再読み込み]を選択する
HTMLやCSSが反映されない場合の原因の多くは、記述ミスやファイルの保存忘れです。
ですが、合っているし保存もしてるのに反映されない…そんな場合はスーパーリロードも試してみましょう！！
*/
